.cum {
  color: white;
}

.jizz {
  color: gray;
}

body {
  background-color: black;
}

#kung-pow-penis {
  color: aqua;
}

#seezhr {
  color:brown;
  background-color: red;
}

.no {
  font-size: 10rem;
}

#demons {
  background-color: blue;
  color: white;
}